*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.main-wrapper {
  height: 100vh;
  background-color: lightblue;
}

.flexbox, .grid {
  height: 50%;
  border: 1px solid black;
}

header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.card {
  font-size: 20px;
  padding: 10px;
  background-color: lightcyan;
  border: 1px solid lightgray;
  min-width: 50%;
}

.div-wrapper {
  display: flex;
  /* default flex-direction adalah row */
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  border: 1px solid black;
}

.center {
  /* mengatur posisi pada sumbu utama */
  justify-content: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.align-center {
  /* mengatur posisi pada sumbu tegak lurus */
  align-items: center;
}

.one {
  flex: 1;
}

.two {
  flex: 2;
}

.three {
  flex: 3;
}

.new-card {
  display: flex;
  margin-top: 10px;
}

.image {
  margin-right: 10px;
}

.image-text p {
  color: brown;
}

.image-text::before {
  content: "Konten sebelum class";
  color: darkblue;
}

.image-text::after {
  content: "teks setelah kelas";
  color: cadetblue;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto 100px auto;
}

.grid-item {
  background-color: lightcoral;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .item-1 {
  width: 30%;
  height: 30%;
} */
